body {
    width: 1350px;
    margin: 0 auto;
    font-family: "OCR A Std", monospace;
    align-items: center;
}

header {
    width: 100%;
    background: #E9FFFC;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border-color: #006666;
    border-width: 3px;
    border-style: solid;
}

header h1 {
    font-size: 50px;
    font-style: italic;
    letter-spacing: 2px;
    color: #FFCC00;
    -webkit-text-stroke: 1px #006666;
    text-align: center;
    margin: 10px 200px;
    display: inline-block;
    padding: 10px;
}

header img {
    margin-top: -13px;
    width: 150px;
    height: 150px;
    padding: 5px;
}

.toolbar {
    background: #006666;
    width: 100%;
    display: inline-block;
}

.toolbar nav p {
    color: white;
    font-size: 20px;
    position: absolute;
    margin-left: 450px;
    padding: 0px;
    font-style: italic;
    float: right;
}

a+a {
    margin-left: 15px;
}

.toolbar nav a {
    float: left;
    color: white;
    display: inline;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
}

.toolbar nav {
    margin-left: 300px;
    padding: 5px;
}

.toolbar nav a:hover {
    color: #FFCC00;
}

.toolbar nav a:focus {
    text-decoration: none;
    color: white;
}

.menu-plus-image {
    background: #2C9A40;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.menu-plus-image img {
    width: 1050px;
    height: 550px;
}

.menu-plus-image nav {
    margin: 0px 0px;
    width: 300px;
}

.menu-plus-image nav a {
    background-color: #2C9A40;
    color: white;
    display: block;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
}

.menu-plus-image nav a:hover {
    color: #FFCC00;
}

.menu-plus-image nav a.active {
    background-color: #FFCC00;
    color: black;
}

.menu-plus-image nav a:focus {
    text-decoration: none;
    color: white;
}

#tradition {
    text-align: center;
    color: #2C9A40;
    font-size: 28px;
}

section {
    height: auto;
    width: 1050px;
    margin: auto;
}

section h2 {
    text-align: center;
    color: #006666;
}

section p {
    text-align: justify;
}

hr.hl {
    width: 1200px;
    border-top: 3px solid #FFCC00;
    border-radius: 10px;
    margin-top: 0px;
}

.chapter {
    margin: auto 80px;
    font-size: 25px;
    text-align: center;
    color: #2C9A40;
    background-color: #E9FFFC;
    border-bottom: solid 1px #006666;
}

#vydici,
#makari,
#zahranki,
#kuki,
#pluvki,
#vlakna,
#primamki,
#aksesoari,
#obleklo {
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}

.vydici,
.makari,
.zahranki,
.kuki,
.pluvki,
.vlakna,
.primamki,
.aksesoari,
.obleklo {
    padding: 16px;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-column-gap: 50px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.vydici .v1:hover,
.makari .m1:hover,
.zahranki .z1:hover,
.kuki .k1:hover,
.pluvki .p1:hover,
.vlakna .v1:hover,
.primamki .p1:hover,
.aksesoari .a1:hover,
.obleklo .o1:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #FFCC00;
    margin-bottom: 0;
}

.price {
    color: grey;
    font-size: 22px;
    margin-bottom: 0px;
}

.vydici button,
.makari button,
.zahranki button,
.kuki button,
.pluvki button,
.vlakna button,
.primamki button,
.aksesoari button,
.obleklo button {
    border: none;
    outline: 0;
    padding: 10px;
    color: black;
    background-color: #FFCC00;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.vydici button:hover,
.makari button:hover,
.zahranki button:hover,
.kuki button:hover,
.pluvki button:hover,
.vlakna button:hover,
.primamki button:hover,
.aksesoari button:hover,
.obleklo button:hover {
    opacity: 0.5;
}

#product-name {
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
    color: #2C9A40;
    border-bottom: solid 1px #006666;
}

h2 {
    text-align: center;
    padding: 15px;
}

.name {
    height: 12%;
}

.mySlides {
    width: 500px;
    height: 500px;
    float: left;
    margin: 10px;
}

.column {
    float: left;
    margin-left: 90px;
    margin-right: 10px;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.row img {
    width: 80px;
    height: 80px;
}

.buy {
    background-color: #E9FFFC;
    margin-left: 100px;
    margin-top: 30px;
    width: 500px;
    float: left;
    border-style: solid;
    border-radius: 5px;
    border-color: #FFCC00;
    padding: 12px;
}

.buy p,
#des-title,
.comments p {
    background-color: #E9FFFC;
    border-bottom: solid 1px #006666;
    color: #2C9A40;
    font-size: 20px;
    text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #006666;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 3px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 3px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.description {
    text-align: justify;
    padding: 20px;
    margin-left: 70px;
    margin-right: 70px;
}

.comments {
    background-color: #E9FFFC;
    margin: 20px auto;
    width: 800px;
    border-style: solid;
    border-radius: 5px;
    border-color: #FFCC00;
    padding: 12px;
}

#comment {
    width: 578px;
    height: 100px;
    margin-bottom: 10px;
}

.about-contain,
.delivery-contain {
    padding: 30px;
    margin: 20px auto;
    width: 1150px;
    border-style: solid;
    border-radius: 5px;
    border-color: #FFCC00;
}

#about-title,
#delivery-title {
    background-color: #E9FFFC;
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
    color: #2C9A40;
    border-bottom: solid 1px #006666;
}


/*.tip {
    width: 0px;
    height: 0px;
    position: absolute;
    background: transparent;
    border: 10px solid #ccc;
}

.tip-left {
    top: 10px;
    left: -25px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}*/

.dialogbox .body {
    position: relative;
    max-width: 1200px;
    height: auto;
    margin: 20px 10px;
    padding: 5px;
    background-color: #DADADA;
    border-radius: 3px;
    border: 5px solid #ccc;
}

.body .message {
    word-wrap: break-word;
    min-height: 30px;
    border-radius: 3px;
    font-family: "OCR A Std", monospace;
    font-size: 14px;
    line-height: 1.5;
    color: black;
}

#errorOrder,
#errorComment {
    text-align: center;
    border-bottom: 3px solid red;
}

#successfulOrder {
    border-bottom: 3px solid green;
}